<form ng-submit="ctrl.save()">
	<div class="form-group">
		<label for="todo">Todo</label>
		<input type="text" id="todo" placeholder="Todo" class="form-control" ng-model="ctrl.todo" />
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-default">Add</button>
		<button type="button" class="btn btn-danger" ng-click="ctrl.resetAll()">Reset All</button>
	</div>
</form>

<ul class="list-group">
	<li class="list-group-item" ng-repeat="todo in ctrl.$storage.todos | orderBy: '-'">
		{{ todo.todo }}
	</li>
</ul>
