<form ng-submit="ctrl.save()">
	<div class="form-group">
		<div class="form-group">
			<label for="todo">Todo</label>
			<input type="text" id="todo" placeholder="Todo" class="form-control" ng-model="ctrl.todo" required />
		</div>
		<div class="form-group">
			<label for="memo">Memo</label>
			<textarea id="memo" placeholder="Memo" class="form-control" ng-model="ctrl.memo"></textarea>
		</div>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-default">Add</button>
		<button type="button" class="btn btn-danger" ng-click="ctrl.resetAll()">Reset All</button>
	</div>
</form>

<form ng-submit="ctrl.search()">
	<div class="form-group">
		<div class="form-group">
			<label for="search">Search</label>
			<input type="text" id="search" placeholder="Search" class="form-control" ng-model="ctrl.query" />
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-info">Search</button>
		</div>
	</div>
</form>

<ul class="list-group">
	<li class="list-group-item" ng-repeat="todo in ctrl.$storage.todos | filter:queryFilter">
		<div class="clearfix">
			<div class="pull-left">
				<div><strong>{{ todo.todo }}</strong></div>
				<div ng-if="todo.memo">{{ todo.memo }}</div>
			</div>
			<div class="pull-right">
				<button type="button" class="btn btn-primary" ng-click="ctrl.done($index)">Done</button>
			</div>
		</div>
	</li>
</ul>
