@charset "utf-8";

.flex {
  display: flex;

  &--col {
    flex-direction: column;
  }

  &--align-start {
    align-items: flex-start;
  }

  &--align-end {
    align-items: flex-end;
  }

  &--align-center {
    align-items: center;
  }

  $spaces: (
    s: '8px',
    m: '16px',
    l: '32px',
  ) !default;

  @each $key, $val in $spaces {

    &--#{ $key } > &__item {
      margin-left: calc(#{ $val } / 2);
      margin-right: calc(#{ $val } / 2);
    }

    @at-root {

      &--#{ $key }#{&}--col > &__item {
        margin-left: 0;
        margin-right: 0;
        margin-top: calc(#{ $val } / 2);
        margin-bottom: calc(#{ $val } / 2);
        min-height: 0%;
      }
    }
  }

  &__item:first-child {
    margin-left: 0;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &--col > &__item:first-child {
    margin-top: 0;
  }

  &--col > &__item:last-child {
    margin-bottom: 0;
  }

  &__item--left {
    margin-right: auto;
  }

  &__item--center {
    margin-left: auto;
    margin-right: auto;
  }

  &__item--right {
    margin-left: auto;
  }

  &__item--align-start {
    align-self: flex-start;
  }

  &__item--align-end {
    align-self: flex-end;
  }

  &__item--align-center {
    align-self: center;
  }

  &--col > &__item--align-start {
    align-self: flex-start;
  }

  &--col > &__item--align-end {
    align-self: flex-end;
  }

  &--col > &__item--align-center {
    align-self: center;
  }

  &__item--growed-0 {
    flex-grow: 0;
    min-width: auto;
  }

  @for $i from 1 through 11 {

    &__item--growed-#{ $i } {
      flex: $i 1 0;
      min-width: 0;
    }
  }
}